@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');

:root{
    --light-green: #A5C926;
    --varela-round: font-family: "Varela Round", sans-serif; 
    --open-sans: font-family: "Open Sans", sans-serif;
    --orange: #FFC12C;
    --rose: #FB416B;
    --grey: #E5E5E5;
    --light-grey: #F8F8F8;
    --white: #fff;
}

.about{
    background-image: url("../img/about-bg.jpg");
    max-width: 1440px;
    height: 640px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}